<div class="menu">
    <h2>Watchlist Activo</h2>
    <ul>
        <li>
            <label>
                <input type="checkbox" name="">
                <span class="icon"></span>
                <span class="list">Avatar</span>
            </label>
        </li>
        <li>
            <label>
                <input type="checkbox" name="" checked disabled>
                <span class="icon"></span>
                <span class="list">La Casa del Dragón</span>
            </label>
        </li>
        <li>
            <label>
                <input type="checkbox" name="">
                <span class="icon"></span>
                <span class="list">The Last of Us</span>
            </label>
        </li>
    </ul>
</div>