<div>
    <form #form="ngForm">
        <h1>Configuración de Usuario</h1>
        <div class="input-group flex-nowrap">
            <input type="text" class="form-control" placeholder="Nombre" name="first_name" id="first_name">
        </div>
        <div class="input-group flex-nowrap">
            <input type="text" class="form-control" placeholder="Apellidos" name="last_name" id="last_name">
        </div>
        <div class="input-group flex-nowrap">
            <input type="email" class="form-control" placeholder="Email" name="email" id="email">
        </div>
        <div class="input-group flex-nowrap">
            <input type="password" class="form-control" placeholder="Password" name="password" id="password">
        </div>
        <div class="input-group flex-nowrap">
            <input type="password" class="form-control" placeholder="Repetir Password" name="repetir_password" id="repetir_password">
        </div>
        <button class="btn btn-primary">Guardar</button>
    </form>
</div>