<div class="home-container">
    <div class="home-row-top">
        <div class="home-row">
            <h3>Calendario de Próximos Estrenos</h3>
            <app-calendar></app-calendar>
        </div>
        <div class="home-row">
            <h3>Watchlist Activa de Usuario</h3>
            <app-watchlist-active></app-watchlist-active>
        </div>
        <div class="home-row">
            <h3>Actividad Reciente de Usuario</h3>
            <app-logs></app-logs>
        </div>
    </div>
</div>