<div class="register-form">
    <form [formGroup]="form" (ngSubmit)="updateUser()">
        <div class="register-title">
            <h1>Ajustes del Usuario:</h1><br>
        </div>
        <div>
            <h3><strong>{{user.firstName}} {{user.lastName}}</strong></h3>
        </div>
        <div class="input-form">
            <input type="text" name="first_name" id="first_name" formControlName="first_name" [class.is-invalid]="firstNameValid"
                autocomplete="off" required="required">
            <i class="bi bi-person-fill"></i>
            <span>Nombre</span>
            <small *ngIf="firstNameValid" class="text-danger">El Nombre debe tener un mínimo de 3 caracteres.</small>
        </div>
        <div class="input-form">
            <input type="text" name="last_name" id="last_name" formControlName="last_name" [class.is-invalid]="lastNameValid"
                autocomplete="off" required="required">
            <i class="bi bi-person-fill-lock"></i>
            <span>Apellidos</span>
            <small *ngIf="lastNameValid" class="text-danger">Los Apellidos debe tener un mínimo de 3 caracteres.</small>
        </div>
        <div class="input-form">
            <input type="password" name="password" id="password" formControlName="password" [class.is-invalid]="passwordValid"
                autocomplete="off" required="required">
            <i class="bi bi-lock"></i>
            <span>Escribir Contraseña</span>
            <small *ngIf="passwordValid" class="text-danger">La Contraseña debe tener un mínimo de 5 caracteres.</small>
        </div>
        <div class="register-buttons">
            <button type="submit" class="btn btn-primary button">Guardar Cambios</button>
        </div>
    </form>
</div>