<div>
    <form #form="ngForm" (ngSubmit)="login(form)">
        <h1>To-Watch</h1>
        <div>
            <input class="form-control" placeholder="Email" type="email" name="email" id="email" [(ngModel)]="user.email">
        </div>
        <div>
            <input class="form-control" placeholder="Password" type="password" name="password" id="password" [(ngModel)]="user.password">
        </div>
        <div>
            <button class="btn btn-primary">Login</button>
        </div>
    </form>
    <button class="btn btn-secondary" (click)="register()">Registrarse</button>
</div>