<div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="avisoRegistro" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <img src="assets\example-photo.png" class="rouded me-2" alt="">
            <strong class="me-auto">{{ alertaRegistro.header }}</strong>
            <small>Ahora</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Cerrar"></button>
        </div>
        <div class="toast-body">
            {{ alertaRegistro.body }}
        </div>
    </div>
</div>