.serie-list-container {
    margin: 10px;
    padding: 20px;
    display: flex;
    flex-flow: column;
    margin: 0 auto;
    background: #757780;
}

.serie-list-items {
    background: #D2CCA1;
    padding: 10px;
    border-radius: 20px;
	border: 2px solid black;
	box-shadow: 
	-5px -5px 15px rgba(255, 255, 255, 0.1),
	5px 5px 15px rgba(0, 0, 0, 0.35),
	inset -5px -5px 15px rgba(255, 255, 255, 0.1),
	inset 5px 5px 15px rgba(0, 0, 0, 0.35);
    margin-bottom: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.serie-list-searchbar {
    margin-top: 20px;
    margin-bottom: 20px;
}