<div class="container mt-5">
    <div class="row mb-4">
        <div class="col-12">
            <button class="btn btn-primary" (click)="volver()">Volver</button>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <img [src]="image" alt="">   
        </div>
        <div class="col-8">
            <h1 class="display-1">{{ media.title }}</h1>
            <p>
                <strong>País:</strong>
                {{ media.nationality }}
            </p>
            <p>
                <strong>País:</strong>
                {{ media.duration }}
            </p>
            <p>
                <strong>Fecha de Estreno:</strong>
                {{ media.releaseDate }}
            </p>
            <p>
                <strong>Sinopsis:</strong>
                {{ media.synopsis }}
            </p>
        </div>
    </div>
</div>