img { 
    width: 50px;
}

nav {
	border-bottom: 3px solid #757780;
    box-shadow: 
	-5px -5px 15px rgba(255, 255, 255, 0.1),
	5px 5px 15px rgba(0, 0, 0, 0.35),
	inset -5px -5px 15px rgba(255, 255, 255, 0.1),
	inset 5px 5px 15px rgba(0, 0, 0, 0.35);
}