/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'Days One';
    src: url('assets/fonts/DaysOne-Regular.ttf');
}

* {
    font-family: 'Days One';
}