#calendar-weekdays div {
    display: inline-block;
    vertical-align: top;
    width: 480px;
}

#calendar-weekdays div, #calendar-content div {
    width: 70px;
    height: 70px;
    line-height: 70px;
    overflow: hidden;
    text-align: center;
    background-color: #DBD4D3;
    color: #757780;
}

#calendar-content div {
    float: left;
}

#calendar-content div:hover {
    background-color: #E8E8E8;
}

#calendar-content div.blank {
    background-color: #F8F8F8;
}

#calendar-header, #calendar-content div.today {
    zoom: 1;
    filter: alpha(opacity=70);
    opacity: 0.7;
}

#calendar-content div.today {
    color: #DBD4D3;
}

