<div class="home-container">
    <div id="home-row-01" class="home-row">
        <div class="home-row-top">
            <div class="home-row-top-item"><app-watchlist-active></app-watchlist-active></div>
            <div class="home-row-top-item"><app-calendar></app-calendar></div>
        </div>
    </div>
    <div id="home-row-02" class="home-row">
        <div>Logs</div>
        <ul>
            <li *ngFor="let log of userLogs">{{ log.creationDate | date: 'yyyy/MM/dd hh:mm:ss' }} - {{ log.code }} - {{ log.description }}</li>
        </ul>
    </div>
</div>